{
  "plugins": ["prettier-plugin-packagejson"],
  "overrides": [
    {
      "files": ["*.json"],
      "options": {}
    },
    {
      "files": ["*"],
      "options": { "printWidth": 120 }
    }
  ]
}
